@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 98%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 356 72% 96%;
    --secondary: 231 48% 94%;
    --secondary-foreground: 231 48% 30%;
    --muted: 231 48% 94%;
    --muted-foreground: 231 48% 52%;
    --accent: 271 76% 53%;
    --accent-foreground: 356 72% 96%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 356 72% 96%;
    --border: 231 48% 88%;
    --input: 231 48% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 48% 30%;
    --foreground: 220 13% 91%;
    --card: 231 48% 35%;
    --card-foreground: 220 13% 91%;
    --popover: 231 48% 30%;
    --popover-foreground: 220 13% 91%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 231 48% 40%;
    --secondary-foreground: 210 20% 98%;
    --muted: 231 48% 40%;
    --muted-foreground: 220 13% 71%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 231 48% 40%;
    --input: 231 48% 40%;
    --ring: 271 76% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
